@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600700;800;900;&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  font-family: "Poppins", "rajdhani" "sans-serif";
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  width: 100% !important;
  font-size: 16px !important;
}

.react-icon {
  width: 20px;
  height: 20px;
}

.react-icon-mobile {
  width: 10px;
  height: 10px;
}

.homepagetitle-bangkok {
  color: #d9d9d9;
  font-style: normal;
  font-weight: 800;
  mix-blend-mode: difference;
}

.homepagetitle {
  mix-blend-mode: overlay;
}

.widerIcon {
  transform: scaleX(
    1.5
  ); /* This stretches the icon 1.5 times its original width */
}

.custom-shadow {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); /* Example values */
}
.custom-shadow:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.35); /* Larger shadow on hover */
}

.bg-lightGreen {
  background-color: #28A745; /* Dark green color */
}

.hover\:bg-darkGreen:hover {
  background-color: #19d545; /* Light green color  */
}

.border-lightGreen {
  border-color: #28A745; /* Dark green color */
}

.hover\:border-darkGreen:hover {
  border-color: #19d545; /* Light green color */
}
