@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  font-family: 'Poppins', 'sans-serif','rajhadi';
};


.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  width: 100% !important;
  font-size: 16px !important;
}

.react-icon {
  width: 20px;
  height: 20px;
}

.react-icon-mobile {
  width: 10px;
  height: 10px;
}




.homepagetitle-bangkok {
color: #D9D9D9;
font-style: normal;
font-weight: 800;
mix-blend-mode: difference;
}

.homepagetitle {
  mix-blend-mode: overlay;
}